vendor/camera/mimoji/model2.zip
boot.img
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
modem.img
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
system/system/data-app/SmartHome/SmartHome.apk
system/system/data-app/MIUIVipAccount/MIUIVipAccount.apk
system/system/data-app/MIUIYoupin/MIUIYoupin.apk
system/system/data-app/MiShop/MiShop.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MiBrowser/MiBrowser.apk
system/system/priv-app/MIUIVideo/MIUIVideo.apk
system/system/priv-app/MIUIMusic/MIUIMusic.apk
